pymongo 
pandas
plotly
numpy
seaborn
langchain
requests
langchain_community
dotenv
# %pip install --upgrade --quiet  
langchain-huggingface 
text-generation 
transformers 
google-search-results
langchainhub 
# sentencepiece 
# jinja2
mongodb
langchain_mongodb
langchain-core
# transformers 