pymongo 
pandas
plotly
openai
numpy
seaborn
langchain
requests
langchain-community
langchainplus-sdk
dotenv
# %pip install --upgrade --quiet  
langchain-huggingface 
text-generation 
transformers 
langchainhub 
langchain_mongodb
langchain-core
langchain-experimental
# transformers 