pandas
numpy
sckit-learn
python-dateutil
python-docx
python-dotenv
python-magic
python-pptx
pytz
PyYAML
rdflib
regex
requests
pydantic
langchain
langchainplus-sdk
langcodes
lit
llama-index
httpx
huggingface-hub
Chroma
chromadb
numpy
scikit-learn
sentence-transformers
sentencepiece